In [1]:
# Python Collection
# list
# tuple
# dict
# set

In [2]:
# # List
# Indexed
# Multiple and duplicate data
# Ordered
# Mutable

In [3]:
l = ["Apple","Ball","Cat","Dog"]
l1 = [1,2,3,4,5,6]
print(type(l))
print(type(l1))

<class 'list'>
<class 'list'>

In [4]:
l = list()
l1 = []

In [8]:
l = ["Apple","Ball","Cat","Dog","Fish","Goat"]
print(l[0])
print(l[0:4])
print(l[0:5:2])

Apple
['Apple', 'Ball', 'Cat', 'Dog']
['Apple', 'Cat', 'Fish']

In [9]:
l = [1,2,3,2,3,4,5,6,4,6,5,6]
l

[1, 2, 3, 2, 3, 4, 5, 6, 4, 6, 5, 6]

In [10]:
# + *

In [11]:
a = [1,2,3,4,5,6]
b = [4,5,6,7,8,8,9]
c = a+b
print(c)

[1, 2, 3, 4, 5, 6, 4, 5, 6, 7, 8, 8, 9]

In [12]:
a = [1,2,3,4,5,6]
print(a*2)

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

In [13]:
l = ["Apple","Ball","Cat","Dog","Fish","Goat"]
for i in l:
    print(i)

Apple
Ball
Cat
Dog
Fish
Goat

In [15]:
a = ["Apple","Ball","Cat","Dog","Fish","Goat"]
l = len(a)
print(l)
for i in range(l):
    print(a[i])

6
Apple
Ball
Cat
Dog
Fish
Goat

In [20]:
a = ["Apple","Ball","Cat","Dog","Fish","Goat","Ball"]
if "Ball" in a:
    print("Yes")
    print(a.count("Ball"))
else:
    print("No")

Yes
2

In [18]:
# input
# append() insert() extend()

# delete
# del remove() pop()

In [21]:
a = []
a.append("Apple")
a.append("Ball")
a

['Apple', 'Ball']

In [23]:
l = []
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    l.append(x)
    
print(l)

Enter n = 10
Enter x = 324
Enter x = 435
Enter x = 234
Enter x = 456
Enter x = 34
Enter x = 675
Enter x = 345
Enter x = 67
Enter x = 345
Enter x = 657
[324, 435, 234, 456, 34, 675, 345, 67, 345, 657]

In [30]:
l = [324, 435, 234, 456, 34, 675, 345, 67, 345, 657]
print("The max value = ",max(l))
print("The min value = ",min(l))
l.sort()
l.reverse()
print(l)

The max value =  675
The min value =  34
[34, 67, 234, 324, 345, 345, 435, 456, 657, 675]
[675, 657, 456, 435, 345, 345, 324, 234, 67, 34]

In [37]:
a = ["Ball","Cat","Apple","Ant","Bat",'.apple','1apple','fish']
a.sort()
print(a)

['.apple', '1apple', 'Ant', 'Apple', 'Ball', 'Bat', 'Cat', 'fish']

In [38]:
# insert()
a = ["Ball","Cat","Apple","Ant","Bat",'.apple','1apple','fish']
a.insert(1,"cat")
a

['Ball', 'cat', 'Cat', 'Apple', 'Ant', 'Bat', '.apple', '1apple', 'fish']

In [39]:
# extend
a = ["Ball","Cat","Apple","Ant","Bat",'.apple','1apple','fish']
b = [1,2,3,4]
a.extend(b)
a

['Ball', 'Cat', 'Apple', 'Ant', 'Bat', '.apple', '1apple', 'fish', 1, 2, 3, 4]

In [43]:
a = ['Ball', 'Cat', 'Apple', 'Ant', 'Bat', '.apple', '1apple', 'fish', "1", "2", "3", "4"]

a.sort()
a

['.apple',
 '1',
 '1apple',
 '2',
 '3',
 '4',
 'Ant',
 'Apple',
 'Ball',
 'Bat',
 'Cat',
 'fish']

In [45]:
# Update
a = ["Ball","Cat","Apple","Ant","Bat",'.apple','1apple','fish']
a[0] = "ball"
a

['ball', 'Cat', 'Apple', 'Ant', 'Bat', '.apple', '1apple', 'fish']

In [50]:
a = ["Ball","Cat","Apple","Ant","Bat",'.apple','1apple','fish']
a[3:4] = ["ball","cat"]
a

['Ball', 'Cat', 'Apple', 'ball', 'cat', 'Bat', '.apple', '1apple', 'fish']

In [47]:
a = ["Ball","Cat","Apple","Ant","Bat",'.apple','1apple','fish']
a[0:2] = ["ball","cat"]
a

['ball', 'cat', 'Apple', 'Ant', 'Bat', '.apple', '1apple', 'fish']

In [53]:
# delete
a = ["Ball","Cat","Apple","Ant","Bat",'.apple','1apple','fish']
del a[0]
a

['Cat', 'Apple', 'Ant', 'Bat', '.apple', '1apple', 'fish']

In [54]:
a = ["Ball","Cat","Apple","Ant","Bat",'.apple','1apple','fish']
del a[0:3]
a

['Ant', 'Bat', '.apple', '1apple', 'fish']

In [55]:
a = ["Ball","Cat","Apple","Ant","Bat",'.apple','1apple','fish']
del a[0:10:2]
a

['Cat', 'Ant', '.apple', 'fish']

In [58]:
# remove()
a = ["Ball","Cat","Apple","Ant","Bat",'.apple','1apple','fish']
a.remove("Ball")
a

['Cat', 'Apple', 'Ant', 'Bat', '.apple', '1apple', 'fish']

In [59]:
# remove()
a = ["Ball","Cat","Apple","Ant","Bat",'.apple','1apple','fish',"Ball"]
c = a.count("Ball")
for i in range(c):
    a.remove("Ball")
a

['Cat', 'Apple', 'Ant', 'Bat', '.apple', '1apple', 'fish']

In [61]:
# pop()
a = ["Ball","Cat","Apple","Ant","Bat",'.apple','1apple','fish']
b = a.pop(0)
print(a)
print(b)

['Cat', 'Apple', 'Ant', 'Bat', '.apple', '1apple', 'fish']
Ball

In [5]:
# list inside list
l = [[1,2,3],
    [4,5,6],
    [7,8,9]]
print(type(l))

<class 'list'>

In [8]:
print(l[0])
print(l[0][1])

[1, 2, 3]
2

In [12]:
l = [["Ram",90,'Kathmandu'],
    ["Shyam",34,"Bhaktapur"],
    ["Hari",45,"Lalitpur"]]
print(l)
print(l[0])
print(l[1][2])

[['Ram', 90, 'Kathmandu'], ['Shyam', 34, 'Bhaktapur'], ['Hari', 45, 'Lalitpur']]
['Ram', 90, 'Kathmandu']
Bhaktapur

In [14]:
info = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    data = [name,age,add]
    info.append(data)
    
print(info)

Enter n = 2
Enter name = ram
Enter age = 90
Enter add = Kathmandu
Enter name = shyam
Enter age = 89
Enter add = Bhaktapur
[['ram', 90, 'Kathmandu'], ['shyam', 89, 'Bhaktapur']]

In [17]:
a = [['ram', 90, 'Kathmandu'], ['shyam', 89, 'Bhaktapur']]
a [0][0] = "Ram"
a

[['Ram', 90, 'Kathmandu'], ['shyam', 89, 'Bhaktapur']]

In [19]:
a = [['ram', 90, 'Kathmandu'], ['shyam', 89, 'Bhaktapur']]
del a[0]
a

[['shyam', 89, 'Bhaktapur']]

In [20]:
a = [['ram', 90, 'Kathmandu'], ['shyam', 89, 'Bhaktapur']]
a.append(['Hari',34,'Lalitpur'])
a

[['ram', 90, 'Kathmandu'],
 ['shyam', 89, 'Bhaktapur'],
 ['Hari', 34, 'Lalitpur']]

In [21]:
a = [['ram', 90, 'Kathmandu'], ['shyam', 89, 'Bhaktapur']]
a.insert(0,['Hari',34,'Lalitpur'])
a

[['Hari', 34, 'Lalitpur'],
 ['ram', 90, 'Kathmandu'],
 ['shyam', 89, 'Bhaktapur']]