In [1]:
# # Tuple
# -Indexing
# -Ordered
# -Multiple and duplicate data
# -Imutable

In [2]:
t = tuple()
t = ()
type(t)

tuple

In [3]:
t = (1,2,3,4,5,6,7,8,9)
print(type(t))
print(t)

<class 'tuple'>
(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [5]:
t = (1,2,3,4,5,6,7,8,9,1)
print(t[0])
print(t[0:6])
print(t[0:8:2])

1
(1, 2, 3, 4, 5, 6)
(1, 3, 5, 7)

In [6]:
# No append() insert() extend()

# No Update

# No delete ie del remove() pop()

#We can do
#sum() max() min() index()

In [10]:
t = (1,)
type(t)

tuple

In [12]:
t = ()
a = ("Apple",)
b = ("Ball",)
t = t+a +b
t

('Apple', 'Ball')

In [13]:
t = ()
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter x = ")
    t = t+(x,)
    
print(t)

Enter n = 3
Enter x = Apple
Enter x = Ball
Enter x = Cat
('Apple', 'Ball', 'Cat')

In [14]:
a = ('Apple', 'Ball', 'Cat')
a = list(a)
a

['Apple', 'Ball', 'Cat']

In [15]:
a = ('Apple', 'Ball', 'Cat')
b = list(a)
del b[0]
a = tuple(b)
a

('Ball', 'Cat')

In [17]:
# tuple inside tuple
l = (("Ram",90,'Kathmandu'),
    ("Shyam",34,"Bhaktapur"),
    ("Hari",45,"Lalitpur"))
print(l[0])
print(l[0][0])

('Ram', 90, 'Kathmandu')
Ram

In [ ]:
# WAP to create tupel inside tuple
# WAP to convert tuple inside tuple to list inside list
# WAP to create a matrix by take row and column value from user 
# and input data