In [1]:
# # Dictionary
# -Indexing
# -Ordered
# -Multiple and duplicate data
# -Mutable

In [2]:
d = {}
d = dict()
print(d)
print(type(d))

{}
<class 'dict'>

In [3]:
# d = {<key>:<value>, <key>:<value>,...}

In [6]:
d = {'a':'Apple','b':"Ball",'c':"Cat"}
print(d)
print(len(d))
print(d['a'])

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}
3
Apple

In [7]:
d = {'a':'Apple','b':"Ball",'c':"Cat",'a':'apple'}
d

{'a': 'apple', 'b': 'Ball', 'c': 'Cat'}

In [8]:
d = {'a':'Apple','b':"Ball",'c':"Cat",'A':'Apple'}
d

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'A': 'Apple'}

In [9]:
# No + *

In [11]:
d = {}
d['a'] = 'Apple'
d['b'] = 'Ball'
d['e'] = 'egg'
d

{'a': 'Apple', 'b': 'Ball', 'e': 'egg'}

In [12]:
d = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    d[name] = phone
d

Enter n = 2
Enter name = Ram
Enter phone = 9808778765
Enter name = Shyam
Enter phone = 980878765

{'Ram': '9808778765', 'Shyam': '980878765'}

In [13]:
d = {'Ram': '9808778765', 'Shyam': '980878765'}
for i in d:
    print(i)

Ram
Shyam

In [14]:
d = {'Ram': '9808778765', 'Shyam': '980878765'}
for i in d.values():
    print(i)

9808778765
980878765

In [15]:
d = {'Ram': '9808778765', 'Shyam': '980878765'}
for i in d.items():
    print(i)

('Ram', '9808778765')
('Shyam', '980878765')

In [18]:
d = {'Ram': '9808778765', 'Shyam': '980878765'}
d['Ram'] = 98087787654
d

{'Ram': 98087787654, 'Shyam': '980878765'}

In [19]:
# del pop
d = {'Ram': '9808778765', 'Shyam': '980878765'}
del d['Ram']
d

{'Shyam': '980878765'}

In [20]:
d = {'Ram': '9808778765', 'Shyam': '980878765'}
d.pop('Ram')
d

{'Shyam': '980878765'}

In [21]:
a = {'Ram': 98087787654, 'Shyam': 980878765}
b = {'Hari': 98087787654, 'Sita': 980878765}
a.update(b)
a

{'Ram': 98087787654,
 'Shyam': '980878765',
 'Hari': 98087787654,
 'Sita': '980878765'}

In [24]:
#list inside dict
a = {'Ram': [98087787654,9808778765], 'Shyam': [980878765,9878778654]}
print(a)
print(a['Ram'])
print(a['Ram'][0])

{'Ram': [98087787654, 9808778765], 'Shyam': [980878765, 9878778654]}
[98087787654, 9808778765]
98087787654

In [25]:
d = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc_phone = input("Enter ntc phone = ")
    ncell_phone = input("Enter ncell phone = ")

    d[name] = [ntc_phone,ncell_phone]
print(d)

Enter n = 2
Enter name = Ram
Enter ntc phone = 9867667654
Enter ncell phone = 9808778765
Enter name = Shyam
Enter ntc phone = 9867887654
Enter ncell phone = 9808778765
{'Ram': ['9867667654', '9808778765'], 'Shyam': ['9867887654', '9808778765']}

In [26]:
# WAP to add update delete in the following dict
# {'Ram': ['9867667654', '9808778765'], 'Shyam': ['9867887654', '9808778765']}

In [27]:
#dict inside list
l = [{'name':'Ram','age':34,'add':'Kathmandu'},
    {'name':'Akash','age':24,'add':'Patan'},
    {'name':'Nabin','age':54,'add':'Jhapa'}]
l

[{'name': 'Ram', 'age': 34, 'add': 'Kathmandu'},
 {'name': 'Akash', 'age': 24, 'add': 'Patan'},
 {'name': 'Nabin', 'age': 54, 'add': 'Jhapa'}]

In [ ]:
l = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enetr name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    info = {'name': name, 'age': age, 'add': add}
    l.append(info)
    
print(l)

In [29]:
# WAP to add update delete with the following list
# [{'name': 'Ram', 'age': 34, 'add': 'Kathmandu'},
#  {'name': 'Akash', 'age': 24, 'add': 'Patan'},
#  {'name': 'Nabin', 'age': 54, 'add': 'Jhapa'}]

In [1]:
# dict inside dict
a = {1:{'name':'Ram','age':34,'add':'Kathmandu'},
    2:{'name':'Shyam','age':64,'add':'Bhaktapur'},
    3:{'name':'Akash','age':24,'add':'Lalitpur'}}
print(a)

{1: {'name': 'Ram', 'age': 34, 'add': 'Kathmandu'}, 2: {'name': 'Shyam', 'age': 64, 'add': 'Bhaktapur'}, 3: {'name': 'Akash', 'age': 24, 'add': 'Lalitpur'}}

In [2]:
d = {}
for i in range(1,3):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    d[i] = {'name':name,'age':age,'add':add}
    
print(d)

Enter name = Ram
Enter age = 89
Enter add = Kathmandu
Enter name = Shyam
Enter age = 89
Enter add = Kathmandu
{1: {'name': 'Ram', 'age': 89, 'add': 'Kathmandu'}, 2: {'name': 'Shyam', 'age': 89, 'add': 'Kathmandu'}}

In [4]:
d[1]['name']

'Ram'